<%= javascript_include_tag 'listing' %>
<h1>Listing</h1>

<div id="books">
  <input class="search" placeholder="Search" />
  <button class="sort" data-sort="title">
    Sort by title
  </button>

  <ul class="list"></ul>

</div>
