<%= javascript_include_tag 'listing' %>

<div id="books">
  <div class="input-group mb-3">
    <input class="search form-control" placeholder="Search" />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" disabled>
        Sort by:
      </button>
      <button class="sort btn btn-outline-primary" data-sort="title">
        title
      </button>
      <button class="sort btn btn-outline-primary" data-sort="author">
        author
      </button>
    </div>
  </div>

  <ul class="list list-group"></ul>

  <% if user_signed_in? %>
      <%= link_to 'Add New Book', '/books/new', class: "sort btn btn-success mt-3" %>
  <% end %>

</div>
